<span class="entry-head">
  <span class="pos-{{entry.pos}}">{{entry.pos}}</span>
  <span class="entry-entry">{{entry.ethiopic}}</span>
</span>
<span clas="entry-gloss">{{entry.gloss}}</span>
{{yield}}
